<!-- Services Section -->

<section id="services">
  <div class="row">
    <div class="col-md-8">
          <h2 class="">Continued Optimism for swedish companies</h2>
          <p class="">The spring 2017 CF0 Survey reveals a clearly
          more positive sentiment among large Swedish companies. The overall CFO index
          shows, after a decline in the two latest surveys, a good jump to 58.2 from 54.1
          in 2016.<br> </p>
          <p>This is the highest level since spring 2011, Except for slightly reduced
          lending willingness, the other subindexes - business climate, nancial position and
          counterparty risk - improved significantly. In the last survey it was clear that CFO's
           took into account the still uncertain macro suituation after several major events during
          the course of 2016.</p>
      </div>

      <div class="col-md-4 border-left">
        <div id="socials">
          <h3>Share this post</h3>
          <div class="no-padding col-md-12">
              <ul class="social-network social-circle">
                  <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                  <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                  <li><a href="mailto:info@deloitte.se"><i id="social-em" class="fa fa-envelope"></i></a></li>
              </ul>
				   </div>
        </div>
        <div id="topis">
            <h3>Topics</h3>
            <ul>
              <li><a href="#"><span class="editable">Business outlook and financial position</span></a></li>
              <li><a href="#"><span class="editable">Prospects and concerns</span></a></li>
              <li><a href="#"><span class="editable">Financial and risk</span></a></li>
              <li><a href="#"><span class="editable">Strategic opportunities</span></a></li>
              <li><a href="#"><span class="editable">Hot topic: cyber security</span></a></li>
            </ul>

        </div>
      </div>
  </div>
</section>
