<footer class="site-footer">

  <div class="container">

    <!-- <h2 class="footer-heading">{{ site.title | escape }}</h2> -->

    <div class="row">
      <div class="col-md-6 left-side">

        <div class="row logo-area">
            <h1 class="logo">S|E|B  </h1><h1 class="logo">Deloitte<span>.</span></h1>
        </div>

        <div class="about-us">
          <h3>About the survey</h4>
          <p>The CFOs who responded represent a selection of the 200 largest companies in Sweden
           across industries. The survey was carried out as a web-based questionaire in Febuary 2017. Given
           the broad range of industries and organizations that responded, the trends observed and conclusions
           made are considered representative of the wider swidish CFO community.
          </p>
          <a href="">Read More</a>
        </div>

      </div>


      <div class="col-md-6 right-side">
          <div class="row">
            <p><span class="name">Henrik Nilsson,</span> Paper Audit, Deloitte</p>
            <p>henilson@deloitte.se | +46 73 397 11 02</p>
          </div>
          <div class="row">
            <p><span class="name">Christina Bergman,</span> Paper Consulting, Deloitte</p>
            <p>chbergman@deloitte.se | +46 76 847 26 88</p>
          </div>
          <div class="row">
            <p><span class="name">Lars Franck,</span> Partner Tax, Deloitte</p>
            <p>lfranck@deloitte.se | +46 73 397 21 26</p>
          </div>
          <div class="row">
            <p><span class="name">Karl Steiner,</span> Senior Strategist Research & Strategy, SEB</p>
            <p>karl.steiner@seb.se | +46 70 332 31 04</p>
          </div>
          <div class="row">
            <p><span class="name">Elisabet Kopelman,</span> Economist,Research & Strategy, SEB</p>
            <p>elisabet.kopelman@seb.se | +46 8 763 80 46</p>
          </div>
      </div>
    </div>

</footer>
