@font-face {
    font-family: GothamBold;
    src: url("./fonts/Gotham-Bold.eot");
    src: url("./fonts/Gotham-Bold.woff");
    src: url("./fonts/Gotham-Bold.ttf");
}
@font-face {
    font-family: GothicMedium;
    src: url("./fonts/Gothic-Medium.eot");
    src: url("./fonts/Gothic-Medium.woff");
    src: url("./fonts/Gothic-Medium.ttf");
}
@font-face {
    font-family: GothamNarrowBook;
    src: url("./fonts/GothamNarrow-Book.eot");
    src: url("./fonts/GothamNarrow-Book.woff");
    src: url("./fonts/GothamNarrow-Book.ttf");
}

// Ensure all images are responsive
img {
  width: -webkit-fill-available;
  max-width: 100% ;
  height: auto ;
}

// defaults for brand/logo
.navbar-brand {
  height: 60px;
  padding: 5px 15px;

  .logo {
    display: block;
    max-height: 50px;

    .big {
      max-width: 200px;
    }
  }
}

section#hero{
  background-image: url("./images/hero.jpg");
  height: 50vh;
}

.post-grid{
  padding-right: 5%;
  padding-bottom: 5%;
}
.bg{
  background-color: #EAEAEA
}

.content-post{
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
}

h1,h2,h3 {
  font-family: GothamBold
}

a{
  font-family: GothamNarrowBook;
  font-size: 20px;
  font-weight: bold;
}

p, li a{
  font-family: GothamNarrowBook;
  font-size: 20px;
}
//
// footer .left-side{
//   padding-right: 3%;
// }
footer .right-side{
  padding-left: 5%;
}
footer .right-side p{
  margin-bottom: 0;
}
span.name{
  font-weight: bold;
}
.right-side .row{
  padding-bottom: 10px
}

.logo-area{
  display: inline-flex;
}
.logo-area h1{
  margin-right: 10%;
}

.no-padding{
  padding-left: 0;
  padding-bottom: 3%;
}



@media only screen and (max-width: 640px) {
   h1 {
     font-size:1.8em;
   }
 }
