@font-face {
    font-family: GothamBold;
    src: url("./fonts/Gotham-Bold.eot");
    src: url("./fonts/Gotham-Bold.woff");
    src: url("./fonts/Gotham-Bold.ttf");
}
@font-face {
    font-family: GothicMedium;
    src: url("./fonts/GothicMedium.eot");
    src: url("./fonts/GothicMedium.woff");
    src: url("./fonts/GothicMedium.ttf");
}
@font-face {
    font-family: GothamNarrowBook;
    src: url("./fonts/Gotham-Narrow-Book.eot");
    src: url("./fonts/Gotham-Narrow-Book.woff");
    src: url("./fonts/Gotham-Narrow-Book.ttf");
}

// Ensure all images are responsive
img {
  height: auto;
  max-width: 100%;
}

// defaults for brand/logo
.navbar-brand {
  height: 60px;
  padding: 5px 15px;

  .logo {
    display: block;
    max-height: 50px;

    .big {
      max-width: 200px;
    }
  }
}

section#hero{
  background-image: url("./images/hero.jpg");
  height: 50vh;
}

.post-grid{
  padding-right: 5%;
}
.bg{
  background-color: #EAEAEA
}
.content-post{
  padding-top: 3%;
  padding-button: 7%
}

h2 {
  font-family: GothamBold !important
}
