@font-face {
    font-family: GothamBold;
    src: url("./fonts/Gotham-Bold.eot");
    src: url("./fonts/Gotham-Bold.woff");
    src: url("./fonts/Gotham-Bold.ttf");
}
@font-face {
    font-family: GothicMedium;
    src: url("./fonts/Gothic-Medium.eot");
    src: url("./fonts/Gothic-Medium.woff");
    src: url("./fonts/Gothic-Medium.ttf");
}
@font-face {
    font-family: GothamNarrowBook;
    src: url("./fonts/GothamNarrow-Book.eot");
    src: url("./fonts/GothamNarrow-Book.woff");
    src: url("./fonts/GothamNarrow-Book.ttf");
}

// Ensure all images are responsive
img {
  height: auto;
  width: -webkit-fill-available;
}

// defaults for brand/logo
.navbar-brand {
  height: 60px;
  padding: 5px 15px;

  .logo {
    display: block;
    max-height: 50px;

    .big {
      max-width: 200px;
    }
  }
}

section#hero{
  background-image: url("./images/hero.jpg");
  height: 50vh;
}

.post-grid{
  padding-right: 5%;
  padding-bottom: 5%;
}
.bg{
  background-color: #EAEAEA
}

.content-post{
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
}

h2 {
  font-family: GothamBold !important
}
p,
li a{
  font-family: GothamNarrowBook;
  font-size: 20px;
}
